/* Global */
* {
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Arial, sans-serif;
  background: #f1f5f9;
  margin: 0;
  padding: 0;
}


/* Center App */
#root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}


/* Main Container */
.container {
  width: 650px;
  max-width: 95%;
  margin: 40px auto;
  background: white;
  padding: 35px;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.12);
}


/* Title */
h1 {
  text-align: center;
  color: #2563eb;
  margin-bottom: 30px;
}


h2 {
  color: #333;
  margin-top: 30px;
}


/* Inputs */
input,
select {
  padding: 12px;
  margin: 5px;
  border: 1px solid #cbd5e1;
  border-radius: 8px;
  font-size: 15px;
}


input:focus,
select:focus {
  outline: none;
  border-color: #2563eb;
}


/* Buttons */
button {
  padding: 12px 18px;
  margin: 5px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background: #2563eb;
  color: white;
  font-weight: bold;
  transition: 0.3s;
}


button:hover {
  background: #1d4ed8;
  transform: translateY(-2px);
}


/* Search */
.search-box {
  width: 30%;
}


/* Filter buttons */
.filter-buttons {
  margin: 15px 0;
}


/* Assignment list */
ul {
  list-style: none;
  padding: 0;
}


li {
  background: #f8fafc;
  margin: 15px 0;
  padding: 18px;
  border-radius: 12px;

  display: flex;
  align-items: center;
  gap: 15px;

  border-left: 6px solid #2563eb;

  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
}


/* Assignment text */
.assignment-info {
  flex: 1;
  color: #334155;
}


.assignment-info b {
  font-size: 18px;
}


/* Completed */
.completed {
  text-decoration: line-through;
  opacity: 0.5;
}


/* Priority colors */

.priority-high {
  color: #dc2626;
  font-weight: bold;
}


.priority-medium {
  color: #ea580c;
  font-weight: bold;
}


.priority-low {
  color: #16a34a;
  font-weight: bold;
}


/* Delete button */
li button {
  background: #dc2626;
}


li button:hover {
  background: #b91c1c;
}



/* Mobile Responsive */
@media (max-width: 600px) {

  .container {
    width: 95%;
    padding: 20px;
  }


  input,
  select,
  button {
    width: 100%;
    margin: 8px 0;
  }


  li {
    flex-direction: column;
    align-items: flex-start;
  }


  li button {
    width: 100%;
  }

}